*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.id-card {
    width: 450px;            
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.id-card h1 {
    background-color: #e6e6e6;
    padding: 12px;
    margin: 20px -30px;  
    font-size: 24px;
    letter-spacing: 1px;
    border-radius: 0px;   
}

.id-card img {
    width: calc(100% + 60px); 
    margin-left: -30px;
    /* border: 3px solid #333;  */
    border-radius: 0px
}


.id-card h2 {
    margin-top: 20px;
    font-size: 20px;
}

.id-card p {
    margin: 8px 0;
    font-size: 15px;
}

.id-card a {
    text-decoration: none;
    color: #1a73e8;
}

.id-card footer {
    margin-top: 18px;
    font-size: 13px;
    color: #777;
}

@media()